body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: grey; 
}

nav{
    display: flex;
    justify-content: space-between;
}
#home-gallery > div{
    display: flex;
    gap: 50px;
}

#home-gallery img {
    width: 400px;
    height: 500px;
    object-fit: cover;
}